[Unit]
Description=Runs restly prune on a random day every week, making up for missed runs

[Timer]
OnCalendar=weekly
RandomizedDelaySec=7d
FixedRandomDelay=true
Persistent=true
Unit=restly-prune.service

[Install]
WantedBy=default.target
