[Unit]
Description=Runs restly check on a random day each week, making up for missed runs

[Timer]
OnCalendar=weekly
RandomizedDelaySec=7d
Persistent=true
Unit=restly-check.service

[Install]
WantedBy=timers.target
