[Unit]
After=network.target
AssertACPower=true

[Service]
Type=simple
ExecStart=/bin/bash -c '$$HOME/.local/bin/restly-cron default check'
Restart=on-failure
RestartSec=5min
Nice=18
IOSchedulingPriority=6

[Install]
WantedBy=default.target
