[Unit]
After=network.target
AssertACPower=true

[Service]
Type=simple
ExecStart=/bin/bash -c '$$HOME/.local/bin/restly-cron backup'
Restart=on-failure
RestartSec=120min
Nice=18
IOSchedulingPriority=6
# Was not able to test this on a system where it has an effect:
# CPUQuota=10%

[Install]
WantedBy=default.target
