[Unit]
Description=Runs restly prune every week, making up for missed runs

[Timer]
OnCalendar=Sun *-*-* 00:00:00
Persistent=true
Unit=restly-prune.service

[Install]
WantedBy=multi-user.target
