[Unit]
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '$$HOME/.local/bin/restly-cron default check'

[Install]
WantedBy=multi-user.target
